parameters:	

	level: 5
	paths:
		- app
	bootstrapFiles:
		- app/loader.php
	earlyTerminatingMethodCalls:
		Nette\Application\UI\Presenter:
			- redirect
			- redirectUrl
			- sendJson
			- sendResponse